<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.midpoint.participant.model.dao.ParticipantMapper">
	
	<insert id="insertParticipant" parameterType="Participant">
		<selectKey keyProperty="participantId" resultType="long" order="BEFORE">
			SELECT SEQ_PARTICIPANT.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO PARTICIPANT (
			participant_id,
			room_id,
			nickname,
			is_host,
			pref_lat,
			pref_lng,
			joined_at
		) VALUES (
			#{participantId},
			#{roomId},
			#{nickname},
			CASE WHEN NOT EXISTS (
				SELECT 1 FROM PARTICIPANT WHERE room_id = #{roomId}
			) THEN 'Y' ELSE 'N' END,
			#{prefLat},
			#{prefLng},
			SYSDATE
		)
	</insert>

	<select id="findParticipant" parameterType="long" resultType="ParticipantResponseDto">
		SELECT
			participant_id,
			room_id,
			nickname,
			is_host,
			is_ready,
			pref_lat,
			pref_lng,
			joined_at,
			left_at
		FROM PARTICIPANT
		WHERE participant_id = #{participantId}
	</select>

	<delete id="deleteParticipant" parameterType="long">
		DELETE FROM PARTICIPANT WHERE participant_id = #{participantId}
	</delete>

	<update id="updateNextHost" parameterType="long">
		UPDATE PARTICIPANT
		   SET is_host = 'Y'
		 WHERE participant_id = (
		 	SELECT MIN(participant_id) FROM PARTICIPANT WHERE room_id = #{roomId}
		 )
	</update>

</mapper>