<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.midpoint.room.model.dao.RoomMapper">

	<insert id="insertRoom" parameterType="Room">
		INSERT 
		  INTO 
		  	   ROOM (
					  ROOM_ID
					, ROOM_UUID
					<if test="maxParticipants != null">
					, MAX_PARTICIPANTS
					</if>
					)
		VALUES 
			   (
				 SEQ_ROOM.NEXTVAL
			   , #{roomUuid}
			   <if test="maxParticipants != null">
			   , #{maxParticipants}
			   </if>
			   )
	</insert>

	<update id="updateMidpoint" parameterType="Room">
		UPDATE
			   ROOM
		   SET
			   MIDPOINT_LAT = #{midpointLat}
			 , MIDPOINT_LNG = #{midpointLng}
			 , MIDPOINT_SOURCE = #{midpointSource}
		 WHERE
			   ROOM_ID = #{roomId}
	</update>

	<update id="updateStage" parameterType="Room">
		UPDATE
			   ROOM
		   SET
			   STAGE = #{stage}
		 WHERE
			   ROOM_ID = #{roomId}
	</update>

	<select id="findRoom" resultType="RoomResponseDto">
		SELECT
			   ROOM_ID
			 , ROOM_UUID
			 , MAX_PARTICIPANTS
			 , MIDPOINT_LAT
			 , MIDPOINT_LNG
			 , MIDPOINT_SOURCE
			 , STAGE
			 , CREATED_AT
			 , EXPIRES_AT
		  FROM 
		  	   ROOM
		 WHERE
		 	   ROOM_UUID = #{roomUuid}
	</select>

</mapper>
