<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.midpoint.route.model.dao.RouteMapper">

	<!--
		시퀀스 값은 VALUES 에 직접 쓰고 자바로 받지 않는다.
		부모-자식은 CURRVAL 로 잇는다. CURRVAL 은 같은 세션에서 NEXTVAL 이 먼저 불려야 하고
		그 뒤 다음 NEXTVAL 전까지 값이 고정된다. insertRoute 가 경로 한 건과 그 구간·좌표를
		한 트랜잭션(=한 커넥션) 안에서 처리하므로 이 전제가 성립한다.
		경로를 여러 건 넣을 때는 건마다 트랜잭션이 따로 열리므로 서로 섞이지 않는다.
	-->


	<insert id="insertRoute" parameterType="ParticipantRoute">
		INSERT
		  INTO
			   PARTICIPANT_ROUTE (
									 ROUTE_ID
								   , ROOM_ID
								   , PARTICIPANT_ID
								   , TRAVEL_MODE
								   , TIME_MINUTES
								   )
		VALUES
			   (
				 SEQ_PARTICIPANT_ROUTE.NEXTVAL
			   , #{roomId}
			   , #{participantId}
			   , #{travelMode}
			   , #{timeMinutes}
			   )
	</insert>

	<insert id="insertRouteSegment" parameterType="ParticipantRouteSegment">
		INSERT
		  INTO
			   PARTICIPANT_ROUTE_SEGMENT (
										 ROUTE_SEGMENT_ID
									   , ROUTE_ID
									   , SEGMENT_ORDER
									   , SEGMENT_TYPE
									   , TIME_MINUTES
									   , GUIDANCE
									   , VEHICLES
									   )
		VALUES
			   (
				 SEQ_PARTICIPANT_ROUTE_SEGMENT.NEXTVAL
			   , SEQ_PARTICIPANT_ROUTE.CURRVAL
			   , #{segmentOrder}
			   , #{segmentType}
			   , #{timeMinutes}
			   , #{guidance}
			   , #{vehicles}
			   )
	</insert>

	<insert id="insertRoutePointList">
		BEGIN
		<foreach collection="list" item="point">
			INSERT
			  INTO
				   PARTICIPANT_ROUTE_POINT (
											 POINT_ID
										   , ROUTE_SEGMENT_ID
										   , POINT_ORDER
										   , LAT
										   , LNG
										   )
			VALUES
				   (
					 SEQ_PARTICIPANT_ROUTE_POINT.NEXTVAL
				   , SEQ_PARTICIPANT_ROUTE_SEGMENT.CURRVAL
				   , #{point.pointOrder}
				   , #{point.lat}
				   , #{point.lng}
				   );
		</foreach>
		END;
	</insert>

	<select id="findRouteList" resultType="ParticipantRouteQueryDto">
		SELECT
			   PR.ROUTE_ID
			 , PR.PARTICIPANT_ID
			 , P.NICKNAME
			 , PR.TRAVEL_MODE
			 , PR.TIME_MINUTES
		  FROM
			   PARTICIPANT_ROUTE PR
		  JOIN
			   PARTICIPANT P
			ON
			   P.PARTICIPANT_ID = PR.PARTICIPANT_ID
		 WHERE
			   PR.ROOM_ID = #{roomId}
		<if test="travelMode != null">
		   AND PR.TRAVEL_MODE = #{travelMode}
		</if>
		 ORDER
			BY
			   PR.PARTICIPANT_ID
			 , CASE PR.TRAVEL_MODE WHEN 'WALK' THEN 1 WHEN 'TRANSIT' THEN 2 ELSE 3 END
	</select>

	<select id="findRoutePointListByRoom" parameterType="long" resultType="RoutePointQueryDto">
		SELECT
			   PR.ROUTE_ID
			 , PRS.ROUTE_SEGMENT_ID
			 , PRS.SEGMENT_ORDER
			 , PRS.SEGMENT_TYPE
			 , PRS.TIME_MINUTES AS SEGMENT_TIME_MINUTES
			 , PRS.GUIDANCE
			 , PRS.VEHICLES
			 , PRP.LAT
			 , PRP.LNG
		  FROM
			   PARTICIPANT_ROUTE PR
		  JOIN
			   PARTICIPANT_ROUTE_SEGMENT PRS
			ON
			   PRS.ROUTE_ID = PR.ROUTE_ID
		  JOIN
			   PARTICIPANT_ROUTE_POINT PRP
			ON
			   PRP.ROUTE_SEGMENT_ID = PRS.ROUTE_SEGMENT_ID
		 WHERE
			   PR.ROOM_ID = #{roomId}
		 ORDER
			BY
			   PR.ROUTE_ID
			 , PRS.SEGMENT_ORDER
			 , PRP.POINT_ORDER
	</select>

</mapper>
