<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.midpoint.selection.model.dao.SelectionMapper">

	<select id="findSelection" parameterType="long" resultType="SelectionResponseDto">
		SELECT 
			   PARTICIPANT_ID,
			   RESTAURANT_ID
		  FROM 
		  	   SELECTION
		 WHERE 
		 	   PARTICIPANT_ID = #{participantId}
	</select>

	<update id="upsertSelection" parameterType="Selection">
		MERGE 
		 INTO 
		 	  SELECTION s
		USING (
				SELECT 
					   #{participantId} AS PARTICIPANT_ID
					 , #{restaurantId} AS RESTAURANT_ID
				  FROM 
				 	   DUAL
			   ) src
		   ON 
		   	  s.PARTICIPANT_ID = src.PARTICIPANT_ID
		 WHEN 
		 	  MATCHED 
		 	     THEN
					  UPDATE 
					  	 SET 
					  	 	 s.RESTAURANT_ID = src.RESTAURANT_ID
		 WHEN 
		  NOT MATCHED 
		 		 THEN
					  INSERT 
					  		 (
							   SELECTION_ID
							 , PARTICIPANT_ID
							 , RESTAURANT_ID
							 )
			VALUES 
				   (
					 SEQ_SELECTION.NEXTVAL
				   , src.PARTICIPANT_ID
				   , src.RESTAURANT_ID
				   )
	</update>

</mapper>
